:root {
    --main-background-color: white;
    --main-text-color: black;
    --main-highlight-color: cyan;
}

body {
    background-color: var(--main-background-color);
    color: --main-invert-color;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-bubble {
    /* transform: rotate(90deg); */
    position: relative;
    margin: auto;
    margin-left: 658px;
    margin-top: -385px;
    z-index: 2;
}

.dialog {
    height: 200px;
    width: 400px;
    background-color: var(--main-background-color);
    position: relative;
    border-radius: 10%;
    display: flex;
    text-align: center;
    border: 1px solid black;
}

.left-point {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 5rem solid black;
    position: absolute;
    margin-top: 30%;
    margin-left: -10%;
    transform: rotate(60deg) ;
    z-index: -1;
}

.shifted {
    transform:rotate(60deg)  translate(0px,-2px);
    border-top: 5rem solid white;
    z-index: 4;
}



.speech {
    z-index: 3;
    margin: auto;
    padding: 30px;
    position: relative;
    text-align: justify;
}
